@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background: linear-gradient(120deg,#E5D9B6, #e6d49f);
}

header, nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo, .navDiv{
    padding: 1rem 2rem;
    
}

#btn1, #btn2{
    padding: .4rem;
    cursor: pointer;
      
}

a{
    text-decoration: none;
    background-color: transparent;
}

img{
    background-color: transparent;
    padding: .7rem;
}

#comoFunciona{
   display: none;
   position: fixed;
   top: 10%;
   right: 13%;
   height: auto;
   width: 25%;
   padding: .8rem;
   background-color: #A4BE7B;
   border-radius: 15px;
   border: 2px solid  rgba(24, 128, 56, .8);
   box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
    
}

#contato{
    display: none;
    position: fixed;
    top: 10%;
    right: 1%;
    height: auto;
    width: auto;
    background-color: #A4BE7B;
    border-radius: 15px;
    border: 2px solid  rgba(24, 128, 56, .8);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
     
 }



.container{
    height: 100vh;
    
}

#titulo{
    padding: 6%;

}

.resultado{
    height: auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    background: linear-gradient(120deg,#a4be7b93, #A4BE7B);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid  rgba(24, 128, 56, .8);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .5);
}

.numero{
    display: flex;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgba(24, 128, 56, .8);
    font-size: 1.8rem;
    margin: 10px;
    color: #E5D9B6;
    font-family:'PT Sans', sans-serif;
    border-radius: 50%;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .5);
}
  

@media (max-width: 500px) {
    .resultado {
        height: auto;
        padding: 2%;
    }

    #comoFunciona{
        display: none;
        position: fixed;
        top: 15%;
        right: 20%;
        height: auto;
        width: 60%;
    }
    #titulo{
        padding: 6%;
        margin-top: 40%;
    
    }
}